<ul class="post-list">
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <h3>{{title}}</h3>
        <h5> Created: {{created_at}} by: {{user.username }}</h5>
      </div>
      <div class = 'blog'>
      <p>{{blog_post}} </p>

      </div>
      <div class='comment'>
       <h5>Comments</h5>
      <ul class="comments">
      <li>
     
      {{#each comments}}
      
        <p>&quot{{this.comment_text}}&quot</p>
        <p>Created by: {{this.user.username}} at {{this.created_at}}</p>
        

      {{/each}}
      <li>
      </ul>
      </div>

    </article>
  </li>
  {{/each}}
</ul>